.table {
    height: 500px;
    border: 1px solid black;
}

thead,
tbody {
    overflow-x: hidden;
}

table {
    width: 200%;
}

.table-header-column {
    border: 1px solid blue;
    margin: 5px
}

.table-column-width {
    text-overflow: ellipsis;
    width: 300px;
    overflow: hidden;
}

.pagination-container button {
    margin: 5px;
}