<div class="d-flex h-100 flex-column">
    <div class="w-100 flex-1 border scroll-x">
        <table class="d-flex border flex-column h-100">
            <thead>
                <tr>
                    <th class="table-column-width" *ngFor="let tableColumn of tableColumns">
                        <div class="table-column-width">{{tableColumn.name}}</div>
                    </th>
                </tr>
            </thead>
            <tbody class="scroll-y flex-1">
                <tr class="" *ngFor="let row of rows$ | async">
                    <td *ngFor="let tableColumn of tableColumns">
                        <div class="table-column-width">{{row[tableColumn.name]}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="pagination-container w-100 d-flex border align-items-center">
        <button (click)="previousPage()" class="btn btn-primary"> previous page </button>

        <button (click)="nextPage()" class="btn btn-primary"> next page </button>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 {{ top$ | async}}
</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a (click)="setRows(5)" class="dropdown-item">5</a>
                <a (click)="setRows(10)" class="dropdown-item">10</a>
                <a (click)="setRows(50)" class="dropdown-item">50</a>
            </div>
        </div>

        <span> Page # {{page$ | async}}</span>



    </div>

</div>